- FASTAPI
- UVICORN
- NUMPY
- IO
- PIL
- TENSORFLOW
- KERAS
- TENSORFLOW_HUB
- MATPLOTLIB
- google-generativeai

**** BEFORE USING THE API MAKE SURE TO EXPORT A ENV. VAR. CALLED "API_KEY" WHICH CONTAIS THE API KEY FROM THE GEMINI API"****
